@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Playfair Display', serif;
    color: #5A5857;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-decoration: underline;
}
/* ============= */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 140px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
/* ----------- */
header.sticky{
    background: #F2E9E4;
    padding: 20px 140px ;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
/* ----------- */
header.sticky .logo{
    color:#111;
}
header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .li{
    position: relative;
    display: flex;
    padding: 10px 20px;
    border: 3px solid black;
    background-color: rgba(242, 233, 228, .7);;
}
header.sticky  .li{
    display: inline-block;
    color: #000;
    text-decoration: none;
    transition: 0.2s;
}
header .li{
    padding: 10px 10px;
    border: 3px solid;
    opacity: 0;
    position: relative  ;
    display: inline-block;
    padding: 0;
    color: #000;
    text-decoration: none;
    transition: 0.2s;
}

header.sticky a{
    color:#111;
    opacity: 1;
    text-decoration: none;
}
header.sticky .li:hover{
    background-color: black;
    color: white;
}

.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color:#111;
}
.heading h2{
    font-weight: 600;
    font-size: 30px ;
}
/* ============= */

.first{
    background: url(./1/background.png) no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    min-height: 100vh;
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 140px;
}
.first h1{
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    line-height: 0.8em;
    color: #fff;
    margin-bottom: 30px;
    text-transform: none;
    text-decoration: none;
}
.first h2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.11em;
    line-height: 1.2em;
    color: #E7E8E8;
    margin-bottom: 60px;
}
.first .stuff{
    padding: 0;
}

/* ==---------------------------------------== */
.second{
    width: 100%;
    height: auto;
}
.second .stuff{
    display: flex;
    justify-content:space-between;
    margin-left: auto;
    padding-top: 270px;
    width: 1160px;
    margin: auto;
}
.second h2{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    line-height: 1.17em;
    color: #ADADAD;
    text-transform: uppercase;
    width: 530px;
    margin-bottom: 60px;
}
.second h3{
    width: 530px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0.19em;
    line-height: 1.24em;
    text-align: justify;
}

img{
    margin: 0;
    /* width: 320px; */
    width: 530px;
    height: auto;
    margin-bottom: 56px;
}
.rectangle{
    display: block;
    width: 500px;
    height: 235px;
    background-color: #F2E9E4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.second .rectangle{
    padding: 0 60px;
    font-size: 28px;
    font-family: 'Caveat', cursive;
}

.rectangle::after{
    content: " ";
    position: absolute;
    transform: translate3d(30px, 20px, 0);
    border: 3px solid #808080;
    width: 500px;
    height: 235px;
}


button{
    padding: 37px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.001em;
    background-color: #CEC0B6;
    color: #111;
    text-transform: uppercase;
    border-radius: 90px;
    border: none;
    transition: 0.2s;
}

button:hover{
    background-color: white;
}
.second button{
    padding: 20px 40px;
    border: black solid 3px;
    background-color: #fff;
    border-radius: 0;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    margin: 90px auto;
    /* width: 269px; */
}

.second button:hover{
background-color: black;
color: #fff;
}
/* =======================[[== */



/* ljsdhfsdhfi-----------------------wefwef-wf-ds-dfs */
.third{
    width: 100%;
    height: auto;
    background-color: #F2E9E4;
    display: flex;
    padding: auto;
}
.third .stuff{
    max-width: 1160px;
    margin: auto;
    padding-top: 105px;
    padding-bottom: 105px;
}
.third h1{
    font-size: 43px;
}
h3{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0.19em;
    line-height: 1.24em;
    text-align: justify;
    color: #474645;
}
/* lkcs--------------dhfsdf-------------- */

.fourth{
    width: 100%;
    height: auto;
}
.fourth h3{
    width: 530px;
margin-top: 60px;
}
.fourth h1{
    font-size: 46px;
    margin: 0;
    padding: 0;

}
.fourth .stuff{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding-top: 270px;
    width: 1160px;
    margin: auto;
    padding-bottom: 60px;
}
.fourth .rectangle{
    margin-top: 60px;
    padding: 0 60px;
    font-size: 28px;
    font-family: 'Caveat', cursive;

}
/* ougyufuv------ihgv-0=0i-h-uf */
.fifth{
    background-color: #EEE8E5;

    width: 100%;
    height: auto;

}
.fifth .left{
    background-color: white;
    width: 390px;
    height: 540px;
    padding: 90px 50px;
    margin-right: 30px;
    box-shadow:#625D5B 4px 4px 10px;
}
.fifth h1{
    font-size: 28px;
}
.fifth .right{
    background-color: #CEC0B6;
    width: 900px;
    height: 589px;
    padding:60px 40px;

}
.fifth .stuff{
    margin: auto;
    width: 1160px;
    display: flex;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.get_the_list{
    background-color: #4A9AC7;
    display: flex;
    padding: 10px 20px;
    border-radius: 90px;
    color: black;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;

}
.get_the_list:hover{
    background-color: black;
    color: white;
}
.get_the_list .fa-telegram-plane{
    color: white;
    font-size: 30px;
}
.right .name{
    font-size: 28px;
    color: #625D5B;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
.right .text{
    font-size: 18px;
    color: #595552;
    font-family: 'Playfair Display', serif;

}

/* jfhfe -----erert-ert e-erfesdfsd fsd-f-sd-fsf-sd-f  */
.sixth{

    width: 100%;
    height: auto;
    background-color: #F1F0F0;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 160px 0;

}
.sixth h1{
    font-size: 23px;
    /* width: 453px; */
    text-align: center;
    /* text-transform: unset; */

}
.sixth .stuff{
    display: flex;
    justify-content: center;
}
.left_rect{
    height: 60px;
    width: 270px;
    border: #999999 solid 2px;
    background-color: white;
}
.right_rect{
    height: 60px;
    width: 180px;
    border: black solid 2px;
    border-radius: 0;
    background-color:unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    margin-left: 15px;
    transition: 0.2s;

}
.right_rect:hover{
    background-color: black;
    color: white;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons .fab{
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 5px;
    transition: 0.2s;

}
.icons .fab:hover{
    background-color: white;
    color: black;
    border: black solid 1px;
}

.copyright{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-align: center;
}




/* =-=-=3-4-3-4-3=4-=3-4=-3=-4-34-34-3-4 */
@media screen and (max-width: 950px) {
    a{
        text-decoration: none;
        color: black;
    }

h1{
    font-family: 'Playfair Display', serif;
    color: #5A5857;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-decoration: underline;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 45px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
/* ----------- */
header.sticky{
    background: #F2E9E4;
    /* padding: 20px 140px ; */
    padding: 20px 45px ;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
/* ----------- */
header.sticky .logo{
    color:#111;
}
header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .li{
    /* header.sticky ul{ */
    position: relative;
    display: flex;

    padding: 10px 20px;
    border: 3px solid black;
    /* background-color: #CEC0B6; */
    background-color: rgba(242, 233, 228, .7);;
}
header.sticky  .li{
    display: inline-block;
    color: #000;
    text-decoration: none;
    transition: 0.2s;
}
header .li{
    padding: 10px 10px;
    border: 3px solid;
    opacity: 0;
    position: relative  ;
    display: inline-block;
    padding: 0;
    color: #000;
    text-decoration: none;
    transition: 0.2s;
}

header.sticky a{
    /* header.sticky ul .li a{ */
    color:#111;
    opacity: 1;
    text-decoration: none;

}


.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color:#111;
}
.heading h2{
    font-weight: 600;
    font-size: 30px ;
}

.first{

    width: 100vw;
    height: 100vh;
    position: relative;
    min-height: 100vh;
    background: url(./1/background_mini.png) no-repeat ;
    background-position: right;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: auto;


    display: flex;
    /* align-items: center; */
    padding-left: 45px;
    background-color: #12171A;
}
.first h1{
    font-family: 'Playfair Display', serif;
    width: 274px;
    font-size: 52px;
    line-height: 0.8em;
    color: #fff;
    margin-bottom: 30px;
    text-transform: none;
    text-decoration: none;

}
.first h2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.11em;
    line-height: 1.2em;
    color: #E7E8E8;
    margin-bottom: 60px;
}
.first .stuff{
    width: 274px;
    padding-top: 30vh;
}


button{
    padding: 37px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.001em;
    background-color: #CEC0B6;
    color: #111;
    text-transform: uppercase;
    border: none;
    transition: 0.2s;
}

button:hover{
    background-color: white;
}


/* kjfierf---------------------------per[rkf */
    .second{
        width: 100%;
        height: auto;
    }
    .second .stuff{
        padding:0;
        /* margin: 0; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 320px;
        height: auto;
        margin: auto;
}
    .second h2{
        font-family: 'Playfair Display', serif;
        font-size: 15px;
        line-height: 1.17em;
        color: #ADADAD;
        text-transform: uppercase;
        margin-bottom: 60px;
        width: 320px;
    }
    .second h3{
        width: 320px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.19em;
        line-height: 1.24em;
        text-align: justify;
        /* color: #333; */
        color: grey;
    }
    .second .left{
        width: 320px;
    }
    .second img{
        width: 320px;
        margin: 60px 0;

    }
    .second .right{
        width: 320px;
    }

    img{
        margin: 0;
        /* width: 530px; */
        height: auto;
        /* margin-bottom: 56px; */
    }
    .rectangle{
        display: block;
        /* width: 500px; */
        width: 324px;
        height: 90px;
        background-color: #F2E9E4;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }
    .second .rectangle{
        width: 324px;
        height: 90px;
        /* padding: 0 60px; */
        font-size: 28px;
        font-family: 'Caveat', cursive;
        margin: 60px 0 30px 0;

    }

    .second .rectangle::after{
        content: " ";
        position: absolute;
        transform: translate3d(15px, 10px, 0);
        border: 3px solid #808080;
        width: 324px;
        height: 90px;
    }

    .second button{
        padding: 20px 40px;
        border: black solid 3px;
        background-color: #fff;
        border-radius: 0;
        font-weight: 300;
        font-size: 18px;
        display: flex;
        margin: 90px auto;
    }

    .second button:hover{
        background-color: black;
        color: white;
    }

/* ------------------------------------------- */
.third{
    width: 100%;
    height: auto;
    background-color: #F2E9E4;
    display: flex;

}
.third .stuff{
    /* width: 1160px; */
    width: 320px;
    margin: auto;
    padding-top: 105px;
    padding-bottom: 105px;
}
/* .third h1{ */

.third h1{
    /* font-size: 43px; */
    font-size: 32px;
}
/* .third h3{ */
h3{
    /* width: 530px; */
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    /* font-weight: 200; */
    font-size: 18px;
    letter-spacing: 0.19em;
    line-height: 1.24em;
    text-align: justify;
    /* color: #474645; */
    color: grey;

}


/* =-=-=--=-f=-g=df-g=-d=g-d-g */

/* =-=--=--=-=f=-=f-=d-g=df-g */

/* =-=-=====--=--- */

}



@media screen and (max-height: 670px) {
    .first .stuff{
        width: 274px;
        /* padding-top: 250px; */
        /* padding-top: 40vh; */
        padding-top: 25vh;
    }
    .first h2{
        margin-bottom: 30px;
    }
}
/* =-=-=--=-f=-g=df-g=-d=g-d-g */


@media screen and (max-width: 501px){
    .fourth .rectangle::after{
        height: 180px;
    }
}
@media screen and (max-width: 466px){
    .fourth .rectangle::after{
        height: 200px;
    }
}




@media screen and (max-height: 670px) {
    .first .stuff{
        width: 274px;
        /* padding-top: 250px; */
        /* padding-top: 40vh; */
        padding-top: 25vh;
    }

}